body {
  padding: 0;
  margin: 0;
  background: black;
}

/* https://www.educative.io/answers/how-to-center-an-absolutely-positioned-element-inside-its-parent */
.tweet-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-transform: none;
}

.tweets{
  margin: 0;
  padding: 0;
}
.tweets li{
  border-bottom: 1px solid white;
}