/* .sidebar-left{
    margin-left: 2%;
} */

/* Font Dynamic 1em === 16px === 100% --> Can be affected by other sizing*/
/* Rem ---> Wont be affected by parent setttings */
.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar button {
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: none;
}